/* default variables values */
$datagrid-th-settings-btn-bg: #E5EAEE;
$offcanvas-label-color: #6c757d;

.datagrid-wrapper {
    .datagrid-toolbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacer * 1.5;

        .search-filter-wrapper {
            max-width: 60%;
            display: flex;
            justify-content: start;

            .search-component {
                max-width: 200px;
                position: relative;

                input {
                    padding-right: 32px;
                }

                .reset-btn {
                    position: absolute;
                    right: 6px;
                    top: 9px;
                    background-color: $gray-300;
                    border-radius: 15px;
                    width: 22px;
                    height: 22px;
                    text-align: center;
                    line-height: 22px;
                    cursor: pointer;

                    &:hover {
                        background-color: $danger;
                        color: white;
                    }
                }
            }
        }

        .pagination {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
            max-width: 40%;
            -webkit-user-select: none;
            user-select: none;

            .page-item {
                &.disabled {
                    color: $gray-100;
                    border-color: $gray-100;
                    cursor: default;
                }

                .page-link {
                    border-color: $gray-300;
                }

                a.page-link {
                    cursor: pointer;

                    &:hover {
                        background-color: $gray-200;
                    }
                }
            }

            .display {
                .page-link {
                    background-color: $gray-100;
                    border-color: $gray-300;
                    padding-top: 0.55rem;
                    padding-bottom: 0.5rem;
                    font-size: 0.8rem;
                    height: 100%;
                }
            }
        }
    }


    .loading {
      opacity: 0.5;
    }

    .datagrid-table-wrapper {
        @include media-breakpoint-down(md) {
            overflow-x: auto;
        }
    }

    table {
        thead {
            th {
                position: sticky;
                top: 0px;
                z-index: 2;
                -webkit-user-select: none;
                user-select: none;

                &:before {
                    content: ' ';
                    position: absolute;
                    top: -20px;
                    left: 0;
                    right: 0;
                    height: 20px;
                    background-color: $white;
                }

                @include media-breakpoint-down(md) {
                    top: 0;
                    &:before { display: none; }
                }

                &.settings-col {
                    width: 1rem;
                    text-align: right;

                    .settings-btn {
                        background: $datagrid-th-settings-btn-bg;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        border-top-right-radius: $border-radius;
                        border-bottom-right-radius: $border-radius;
                        line-height: 2.6rem;
                        padding: 0 1rem 0 1rem !important;
                    }

                    &.with-action-buttons {
                        width: auto;
                        max-width: 20%;
                    }
                }
            }
        }

        tbody {
            td {
                &.action-buttons {
                    padding-top: 5px;
                    padding-bottom: 0;
                    text-align: right;
                }
            }
        }
    }
    
    
    .form-floating {
        & > label {
            opacity: 1 !important;
            color: $offcanvas-label-color;
            font-size: $font-size-base * 0.9;
            
        }
        
        & > select {
            color: $black;
        }
    
        &.checkbox-group {
            & > label {
                position: static;
                padding: 0;
                margin-bottom: 0;
                font-size: $font-size-base * 0.8;
            }
            
            & .options-wrapper {
                padding-left: $spacer * 0.1;
                
                .form-check-label {
                    margin-bottom: 0;
                    font-size: $font-size-base * 0.9;
                }
            }
            
            border: $border-width solid $gray-300;
            border-radius: $border-radius;
            padding: $spacer*0.5 $spacer*0.9;
        }
    }
}

#datagridPanelBatchActions {
    z-index: 6;
}
